[submodule "portfolio"]
	path = portfolio
	url = git@github.com:kentaiwami/portfolio.git
[submodule "git@github.com:kentaiwami/FiNote.git"]
	path = git@github.com:kentaiwami/FiNote.git
	url = git@github.com:kentaiwami/sumolog.git
[submodule "FiNote"]
	path = FiNote
	url = git@github.com:kentaiwami/FiNote.git
[submodule "sumolog"]
	path = sumolog
	url = git@github.com:kentaiwami/sumolog.git
[submodule "Shifree"]
	path = Shifree
	url = git@github.com:kentaiwami/Shifree.git
[submodule "docker-proxy"]
	path = docker-proxy
	url = git@github.com:kentaiwami/docker-proxy.git
[submodule "slave-db"]
	path = slave-db
	url = git@github.com:kentaiwami/slave-db.git
[submodule "phpmyadmin"]
	path = phpmyadmin
	url = git@github.com:kentaiwami/phpmyadmin.git
[submodule "portfolio-redirect"]
	path = portfolio-redirect
	url = git@github.com:kentaiwami/portfolio-redirect.git
